*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-family: "IRANSans" , sans-serif;
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: #fff; }

.header {
  position: relative; }
  .header .logo {
    position: absolute;
    top: 0;
    left: 0; }

.error {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .error__pic {
    height: 50rem;
    width: 50rem; }
  .error__text {
    font-size: 2.2rem;
    transform: skew(-15deg); }
  .error .btn {
    background-color: #e8e8e8;
    height: 5rem;
    width: 20rem;
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem rgba(59, 59, 59, 0.5);
    transition: all .3s;
    cursor: pointer; }
    .error .btn:hover {
      transform: translateY(-3px); }
    .error .btn:focus {
      transform: translateY(3px); }
    .error .btn__text {
      font-family: 'IRANSans' , sans-serif;
      font-size: 1.3rem;
      color: #3b3b3b;
      text-decoration: none;
      transition: all .3s; }
